.container {
    display: flex;
    flex-direction: column;
    height: 95vh;
    padding: 10px;
}

.container-error {
    font-weight: bold;
    font-size: 24px;
    text-align: right;
}

/**
* SL Information
**/

.container-schedule {
    display: flex;
    justify-content: center;
    text-align: center;
}

.schedule {
    display: flex;
    flex-direction: column;
    margin: 0px 100px;
    width: 50%;
}

.title {
    font-size: 42px;
    font-weight: bolder;
    font-size: 42px !important;
}

#bus, #metro {
    margin: 0px 25px !important;
}

.latest-update {
    margin: 0px;
    font-size: 50% !important;
}

.board-times {
    font-size: 40px;
    font-weight: bold;
    margin-top: 10px;
    width: 100%
}

.transportation-icon {
    display: block;
    font-size: 150%;
}