/**
* Background section
*/

.background {
    position: absolute;
    height: 100vh;
    background-color: #25241f;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}

.top {
    z-index: -1;
    opacity: 1;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.hide {
    opacity: 0;
}

.bottom {
    z-index: -9000;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.container {
    display: flex;
    flex-direction: column;
    height: 95vh;
    padding: 10px;
}

.container-error {
    font-weight: bold;
    font-size: 24px;
    text-align: right;
}

/**
* Date & Time now
**/

.container-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#clock-now {
    font-family: arial, helvetica, sans-serif;
    font-weight: normal;
    font-size: 95px;
    margin: 0px;
}

/**
* SL Information
**/

.container-schedule {
    display: flex;
    justify-content: center;
    text-align: center;
}

.schedule {
    display: flex;
    flex-direction: column;
    margin: 0px 100px;
    width: 50%;
}

.title {
    font-size: 42px;
    font-weight: bolder;
    font-size: 42px !important;
}

#bus, #metro {
    margin: 0px 25px !important;
}

.latest-update {
    margin: 0px;
    font-size: 50% !important;
}

.board-times {
    font-size: 40px;
    font-weight: bold;
    margin-top: 10px;
    width: 100%
}

.transportation-icon {
    display: block;
    font-size: 150%;
}

/**
* Quote 
**/

#quote {
    font-style: italic;
    padding: 0px 150px;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
}

#quote-author {
    font-style: normal !important;
    padding: 0px;
    margin: 20px 0px 0px 0px;
}

/**
* Weather and sunrise/sunset times
**/

.container-weather {
    margin-top: auto;
    display: flex;
    flex-direction: row;
}

.container-weather>* {
    text-align: center;
    font-size: 32px;
}

#sun-times {
    width: 15%;
}

#weather-list {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-around;
}

.weather-list-item {
    width: 100%;
    text-align: center;
}

#weather-week-list {
    display: flex;
    flex-direction: column;
    width: 25%;
    font-size: 90%;
    padding: 20px;
}

.weather-day-item {
    display: flex;
    flex-direction: row;
}

.weather-day-item>* {
    width: 33%;
}

.weather-day-item>* {
    margin: auto;
}

.flex-end {
    align-self: flex-end;
}