<app-background-wallpaper></app-background-wallpaper>

<div class="container">
    <div class="container-error" [ngStyle]="{'color': this.errorSlObj.color}">
        {{ this.errorSlObj.message }}
    </div>
    <ng-container *ngIf="errorWeather$ | async as errorWeather">
        <div class="container-error" [ngStyle]="{'color': errorWeather.color}">
            {{ errorWeather.message }}
        </div>
    </ng-container>

    <app-date-time></app-date-time>
    <!-- 
    <div class="container-schedule">
        <div class="schedule">
            <div class="title">
                <span class="material-icons transportation-icon">
                    directions_bus
                </span> Tessinparken Linje 54
                <p class="latest-update">(Latest update: {{this.transportationTimes.bus?.latestUpdate}})
                </p>
            </div>
            <div>
                <div class="board-times" [innerHTML]=this.transportationTimes.bus?.boardTime>
                </div>
            </div>
        </div>
        <div class="schedule">
            <div class="title">
                <span class="material-icons transportation-icon">
                    directions_subway
                </span> Gärdet Linje 13
                <p class="latest-update">(Latest update: {{this.transportationTimes.metro?.latestUpdate}})
                </p>
            </div>
            <div>
                <div class="board-times" [innerHTML]=this.transportationTimes.metro?.boardTime>
                </div>
            </div>
        </div>
    </div> -->

    <app-quote></app-quote>

    <app-weather (onWeatherError)="onWeatherError($event)"></app-weather>
</div>