.container-weather {
    margin-top: auto;
    display: flex;
    flex-direction: row;
}

.container-weather>* {
    text-align: center;
    font-size: 32px;
}

#sun-times {
    width: 15%;
}

#weather-list {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-around;
}

.weather-list-item {
    width: 100%;
    text-align: center;
}

#weather-week-list {
    display: flex;
    flex-direction: column;
    width: 25%;
    font-size: 95%;
    padding: 0 20px;
}

.weather-day-item {
    display: flex;
    flex-direction: row;
}

.weather-day-item>* {
    width: 33%;
}

.weather-day-item>* {
    margin: auto;
}