<div class="main">
    <div id="sun-times" class="flex-end" *ngIf="sunTimes$ | async as sunTimes">
        <div>
            {{sunTimes.sunrise.time}}
        </div>
        <div>
            <img style="width: 50px; height: 50px" [src]="sunImages.sunrise">
        </div>
        <div>
            {{sunTimes.sunset.time}}
        </div>
        <div>
            <img style="width: 50px; height: 50px" [src]="sunImages.sunset">
        </div>
    </div>
    <div id="weather-list" class="flex-end">
        <div class="weather-list-item" *ngFor="let weatherHour of weatherHourlyInfo$ | async">
            <div>
                {{weatherHour.time}}
            </div>
            <div>
                <img style="width: 50px; height: 50px" [src]="weatherHour.icon">
            </div>
            <div>
                {{weatherHour.temperature}}
            </div>
            <div style="font-size: 75%;">
                {{weatherHour.feelsLike}}
            </div>
        </div>
    </div>
    <div id="weather-week-list" class="flex-end">
        <div class="weather-day-item" *ngFor="let weatherDay of weatherDailyInfo$ | async">
            <div class="day-of-week">
                {{weatherDay.day}}
            </div>
            <div>
                {{weatherDay.max}}
            </div>
            <div>
                {{weatherDay.min}}
            </div>
            <div>
                <img style="width: 40px; height: 40px" [src]="weatherDay.icon">
            </div>
        </div>

    </div>
</div>