.main {
    display: flex;
    flex-direction: row;
}

.main>* {
    font-size: 32px;
}

#sun-times {
    text-align: center;
    width: 15%;
}

#weather-list {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-around;
}

.weather-list-item {
    width: 100%;
}

#weather-week-list {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    width: 25%;
    font-size: 95%;
    padding: 0 20px;
}

.weather-day-item {
    display: flex;
    flex-direction: row;
}

.day-of-week {
    width: 25%;
}

.weather-day-item>* {
    margin: auto;
}