<app-background-wallpaper></app-background-wallpaper>

<div class="container">

    <app-error-message [errorSl]="errorSl$  | async" [errorWeather]="errorWeather$ | async"></app-error-message>

    <div class="container-header">
        <app-date-time></app-date-time>
    </div>

    <div class="container-schedule">
        <app-sl-schedule (onSlError)="onSlError($event)"></app-sl-schedule>
    </div>

    <div class="container-quote">
        <app-quote></app-quote>
    </div>

    <div class="container-weather">
        <app-weather (onWeatherError)="onWeatherError($event)"></app-weather>
    </div>
</div>