<app-background-wallpaper></app-background-wallpaper>

<div class="container">
    <ng-container *ngIf="errorSl$ | async as errorSl">
        <div class="container-error" [ngStyle]="{'color': errorSl.color}">
            {{ errorSl.message }}
        </div>
    </ng-container>
    <ng-container *ngIf="errorWeather$ | async as errorWeather">
        <div class="container-error" [ngStyle]="{'color': errorWeather.color}">
            {{ errorWeather.message }}
        </div>
    </ng-container>

    <div class="container-header">
        <app-date-time></app-date-time>
    </div>

    <div class="container-schedule">
        <app-sl-schedule (onSlError)="onSlError($event)"></app-sl-schedule>
    </div>

    <div class="container-quote">
        <app-quote></app-quote>
    </div>

    <div class="container-weather">
        <app-weather (onWeatherError)="onWeatherError($event)"></app-weather>
    </div>
</div>